<section>
    Borned in December 27, 1999. I aim to be a nice person, I like to do excersise, travel with my
    partner, have time with my family and like to do my hobbies. 
</section>

<section>
    This are my pets. I often do like to play with them and give a walk with them. I feel very connected to nature.
</section>

<section>
    One cool tip about me is that I Voluteer in a Catholic Scout Group called Exodo Calasanz for 5+ years. We 
    helped teenagers to reflex and cultivate a healthy life with multiple activities, providing a cool environment to growth. 
    I really enjoyed the vibe we created. Cool days.
</section>

<section>
    One thing I really like is Anime. I recently went to Japan and it was a beautifull experience. Right now I am learning japanese.
</section>