---
import Carousel from "../components/Carousel"
import type { CarouselImage } from "../types/CarouselImages"

const images: Array<CarouselImage> = [
	{
		src: "source",
		alt: "alt",
		title: "titulo",
		description: "hello"
	}	
]
---

<h1>Hello!</h1>
<Carousel 
	images={images}
/>