<section>
    I started my journey in technology as a kid, always messing around with computers
    That passion led me to finish a bachelors degree in Mechatronics Engineering, where I discovered a strong interest in software development. 
    I began experimenting with some Python scripts, online tutorials, and more.  

    Later, I get my first job as SOE on a Shipping Agency. They need it someone capable of translate their
    old applications into better sofware that can help them deliver faster and safely with strong tools. It help me to gain hand-ons
    experience in real-world projects, using Python for Destkop development and NodeJS + Angular to deliver their web applications.

    After completing those projects, I wanted to push myself further and break away from working alone. 
    I took the chance to attend a bootcamp in Tokyo, Japan. It was an eye-opening experience where I made lasting friendships, 
    learned to work in teams, and ignited the passion for software development.

    Now, Im actively looking for my next opportunity, excited to contribute, learn, and keep growing as a dev, and as a person.
</section>